<%= erb :new %>

<hr>

<ol>
  <% @links.each do |link| %>
    <li>
      <%=link[:title]%><br>
      <%=link[:url]%><br>
      <% @tags.each do |tag| %>
      <%=tag[:name]%>
      <%end%>
    </li>
  <%end%>
</ol>
