<%= erb :new %>

<hr>

<ol>
  <% @bookmarks.each do |bkmk| %>
    <li>
      <%=bkmk[:title]%><br>
      <%=bkmk[:url]%><br>
      <% bkmk[:tags].each do |tag| %>
        <%=tag%>
      <%end%>
    </li>
  <%end%>
</ol>
